{% extends "base.html" %}

{% block page_content %}

    <h1>Player Statistics</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Games Played</th>
                <th>Games Won</th>
                <th>Total Score</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
            <tr>
                <td>{{ stat.username }}</td>
                <td>{{ stat.games_play }}</td>
                <td>{{ stat.games_win }}</td>
                <td>{{ stat.total_score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
