{% extends 'base.html' %}

{% block title %}
Settings
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block content %}
{% include "navbar.html" %}

<div class="body-container">
    <h2>Settings</h2> 

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <a href="{% url 'authe:password_change' %}">Change my password</a>

        <div id="avatar-selection" class="avatar-selection">
            {% for avatar in avatars %}
            <label>
                <input type="radio" name="profil_picture" value="{{ avatar }}" hidden
                    {% if avatar == selected_avatar %} checked {% endif %}>
                <img src="{{ avatar }}" class="avatar" {% if avatar == selected_avatar %} selected {% endif %} alt="Avatar">
            </label>
            {% endfor %}
        </div>

        <button class="btn-settings" type="submit">Save</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let avatars = document.querySelectorAll("#avatar-selection label img");
        avatars.forEach(img => {
            img.addEventListener("click", function () {
                // reset selected
                avatars.forEach(i => i.classList.remove("selected"));
                this.classList.add("selected");

                // check the new select
                this.previousElementSibling.checked = true;

            });
        });
    });
</script>

{% endblock %}