{% extends 'base.html' %}

{% block title %}
Settings
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block content %}
{% include "navbar.html" %}

<div class="body-container">
    <h2>Settings</h2> 

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <a href="{% url 'authe:password_change' %}">Change my password</a>

        <div id="avatar-selection" class="avatar-selection">
            {% for avatar in avatars %}
            <label>
                <input type="radio" name="profil_picture" value="{{ avatar }}"></input>
                <img src="{{ avatar }}" class="avatar" alt="Avatar"></img>
            </label>
            {% endfor %}
        </div>

        <button class="btn-settings" type="submit">Save</button>
    </form>
</div>

{% endblock %}