body {
	font-family: 'Roboto', sans-serif;
	background-color: #120052;
	color: #ffffff;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	height: 100vh;
}

#games-container {
	text-align: center;
	padding: 2rem;
	background-color: #1a0033;
	border-radius: 10px;
	box-shadow: 0px 4px 12px rgba(205, 106, 255, 0.6);
	max-width: 600px;
	width: 90%;
	margin-top: 5rem;
	justify-self: center;
}

#games-container h1 {
	font-size: 2.5rem;
	color: #ff00ff;
	text-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #ff00ff;
	margin-bottom: 1rem;
}

#games-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 1.5rem;
}

#games-table th,
#games-table td {
	border: 1px solid #ffffff;
	padding: 0.8rem;
	font-size: 1.2rem;
	text-align: center;
}

#games-table th {
	background-color: #29c7c4;
	color: #120052;
	font-weight: bold;
	text-transform: uppercase;
}

#games-table td {
	background-color: #1a0033;
	color: #ffffff;
}

#games-table tr:nth-child(even) td {
	background-color: #220045;
}

#games-table tr:hover td {
	background-color: #29c7c4;
	color: #120052;
	transition: background-color 0.3s ease-in-out;
}

#games-table td:first-child {
	font-weight: bold;
}

#games-table td:last-child {
	font-style: italic;
}

#start-tournament {
	margin-top: 1.5rem;
	background-color: #29c7c4;
	color: #120052;
	border: none;
	padding: 0.5rem 1.5rem;
	font-size: 1.2rem;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
}

#start-tournament:hover {
	background-color: #120052;
	color: #29c7c4;
}

#start-tournament:focus {
	outline: none;
}

#add-player {
	margin-top: 1.5rem;
	background-color: #29c7c4;
	color: #120052;
	border: none;
	padding: 0.5rem 1.5rem;
	font-size: 1.2rem;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
}

#add-player:hover {
	background-color: #120052;
	color: #29c7c4;
}

#add-player:focus {
	outline: none;
}

#add-player:active {
	transform: scale(0.95);
}

#games-buttons {
	display: flex;
	justify-content: space-around;
}

#player-name {
	background-color: #1a0033;
	color: #29c7c4;
	border: 1px solid #ffffff;
	padding: 0.5rem;
	font-size: 1.2rem;
	width: 26%;
	margin-top: 1.5rem;
}

#player-name:focus {
	outline: none;
}

#player-name-button {
	background-color: #29c7c4;
	color: #120052;
	border: none;
	padding: 0.5rem 1.5rem;
	font-size: 1.2rem;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
}

h2 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
	font-weight: bold;
}