#navbarBody {
    background-color: #b81eb8;
    width: 100vw;
    height: 5vh;
    border-radius: 0px 0px 10px 10px;
    max-height: 5vh;
    height: 5vh;
    min-width: 15vh;
	font-family: "Kode Mono", monospace;
}

#navbarBody .bord {
    background-color: #b81eb8;
    box-shadow: 0px 10px 15px #f514f5;
    width: 100vw;
    border-radius: 0px 0px 10px 10px;
    max-height: 5vh;
    height: 5vh;
}

#navbarBody .menu-games{
    margin-top: -0.5vh;
    background-color: #2f71ff;
    border-radius: 5px;
    box-shadow: 0px 5px 1px #145bf5;
    min-width: 15vh;
    margin-inline: 8%;
    position:relativ;
}

#navbarBody .games{
    margin-top: -0.5vh;
    background-color: #2f71ff;
    border-radius: 5px;
    box-shadow: 0px 5px 1px #145bf5;
    min-width: 18vh;
    margin-inline: 7%;
    position: relative;
}
/* 
#navbarBody nav > ul:hover .games{
    width: 25vh;
    left: -10%;
} */

#navbarBody nav > ul{
    margin: 0vh;
}

#navbarBody nav > ul > li > a{
    display: flex;
    margin: center;
    color:aliceblue;
}


#navbarBody nav > ul > li {
    float: left;
    
    position: relative;
}

#navbarBody .submenu{
    display: none;
    flex-direction: column;
    position: absolute;
    width: auto;
    border-radius: 10px;
}


#navbarBody nav a{
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    border-radius: 10px;
    text-decoration: none;
    color:rgb(255, 255, 255);
}

#navbarBody .menu-pong .submenupong{
    position: absolute;
    display: none;
    /* left: -33%; */
    padding: 0;
}

#navbarBody .menu-pong:hover .submenupong{
    display: flex;
    left:-30%;
}


#navbarBody nav > li{
    list-style-type: none;
    /* margin-right: 20px; */
}

#navbarBody li{
    border-radius:10px;
    background-color: #2f71ff;
    white-space: nowrap;
    list-style-type: none;
}

#navbarBody li:hover .submenu{
    display: flex;
    top: 100%;
    left: -5%;
    padding: 0;
    line-height: 5vh;
}