#navbarBody {
    background-color: #b81eb8;
    width: 100vw;
    height: 5vh;
    border-radius: 0px 0px 10px 10px;
    max-height: 5vh;
    height: 5vh;
}

#navbarBody .bord {
    background-color: #b81eb8;
    box-shadow: 0px 10px 15px #f514f5;
    width: 100vw;
    border-radius: 0px 0px 10px 10px;
    max-height: 5vh;
    height: 5vh;
}

#navbarBody .menu-games{
    margin-bottom: 1vh;
    margin-top: -0.5vh;
    background-color: #2ff1ff;
    border-radius: 5px;
    box-shadow: 0px 5px 1px #145bf5;
}

#navbarBody nav > ul{
    margin: 0vh;
}

#navbarBody nav > ul::after{
    content: "";
    display: block;
    clear: both;
}

#navbarBody nav > ul > li > a{
   
    display: flex;
    margin:center;
    color: #ff5252;
}


#navbarBody nav > ul > li {
    float: left;
    position: relative;
}

#navbarBody .submenu{
    display: none;
}

#navbarBody nav a{
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    border-radius: 10px;
    box-shadow: 0px 10px 15px #145bf5;
    text-decoration: none;
}

#navbarBody nav > li{
    list-style-type: none;
    margin-right: 20px;
}

#navbarBody li{
    list-style-type: none;
}

#navbarBody li:hover .submenu{
    box-sizing: 20vw;
    display: inline-block;
    top: 100%;
    left: 0;
    padding: 0;
}