{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div id="welcome" class="body-container">
    <div class="center">
        <div class="bord">
            <h1>Welcome to ft_transcendence!</h1>
            <p>By Ajasnin, Axdubois, Matde-ol</p>
        </div>
        <div class="container">
            <a class="btn btn-primary select" href="/games/pong/">
                Pong
            </a>
        </div>
        <div class="container">
            <a class="btn btn-primary select" href="/games/spaceinvaders">
                Space-Battle
            </a>
        </div>
    </div>
</div>
{% endblock %}
