{% load static %}

<div class="all">
    <div id="chatbox">
        <div class="ChatButton" id="chat" type="button">chatbox</div>
        <div class="liveChat" id="box">
            <div class="bar" id="bar">
                <div class="infoFriend" id="infoFriend"></div>
            </div>
            <div class="minWin" id="closeChat" type="button">-</div>

            <div class="friends" id="loadFriends">
                <input class="search" id="addFriends" type="text" placeholder="Add a friend">
                <div class="allFriends" id="FriendList"></div>
            </div>
            <div class="chatMessages" id="chatMessages"></div>
            <div><input class="inputMessages" id="inputMessages" type="text"></div>
        </div>
    </div>
</div>
