#chatbox .ChatButton{
    border-radius:5px;
    white-space: nowrap;
    list-style-type: none;
    border: 0 #cd6aff;
	font-family: "Kode Mono", monospace;
    background-color: #17BEBB;
    box-shadow: 0px 0px 5px #cd6aff;
    text-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #ff00ff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 100px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chatbox .bar {
    background-color: #29c7c4; 
    border-radius: 5px;
    height: 13%;
    box-shadow: 0px 0px 5px #cd6aff;
    text-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #ff00ff;
}

#chatbox .minWin{
    font-family: "Kode Mono", monospace;
    font-weight: bold;
    text-align: center;
    background-color: #cd6aff5e;
    margin-top: -5%;
    margin-left: 94%;
    font-size: 30px;
    width: 30px;
    height: 92%;
    box-shadow: 0px 0px 5px #cd6aff;
}

#chatbox .ChatButton:hover {
    background-color: #29c7c4; /* Changement de couleur de fond sur le survol */
    border-color: #29c7c4; /* Changement de couleur de bordure sur le survol */
    box-shadow: 0px 0px 10px #29c7c4; /* Changement de couleur de l'ombre sur le survol */
}

#chatbox .liveChat{
    display: none;
    border-radius:5px;
    white-space: nowrap;
    list-style-type: none;
    border: 0 #cd6aff;
	font-family: "Kode Mono", monospace;
    background-color: #17BEBB;
    box-shadow: 0px 0px 5px #cd6aff;
    text-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #ff00ff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 500px; /* La largeur de la case */
    height: 300px; /* La hauteur de la case */
    color: white; /* Texte en blanc */
}

#chatbox .friends{
    box-shadow: 0px 0px 5px #ffffff;
    background-color: #ff00ff3f;
    border-radius: 5px;
    width: 30%;
    height: 85%;
    margin-left: 70%;
}

#search input {
    height: 10%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0px #ff00ff;
    background-color: #ffffff;
}

#chatbox input:focus {
    outline: none;
    box-shadow: 1px 1px 10px 2px #ff00ff;
}


#chatbox .search {
    width: 100%;
    height: 10%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0px #ff00ff;
}



#chatbox .chatMessages{
    background-color: #29c7c467;
    margin-top: -49%;
    margin-left: 2%;
    width: 66%;
    height: 78%;
    box-shadow: 1px 1px 10px 0px #ff00ff;
    border-radius: 5px;
}

#chatbox .inputMessages {
    width: 66%;
    height: 90%;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px #ff00ff;
    background-color: #ffffff;
}

#chatbox button{
    margin: 0;
}

#FriendList .friend {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff00ff3f;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    border:none;
}

#FriendList {
    background-color: #ff00ff; /*change the transparence*/
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#FriendList button.friend {
    color: white;
    overflow: hidden;
    height: 15%;
    box-shadow: 1px 1px 1px 1px #17bebb9c;
    border-radius: 5px;
    
}