{% extends 'base.html' %}

{% block title %}
Tournament
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/tournament.css' %}">
{% endblock %}


{% block content %}
{% include "navbar.html" %}
<meta name="csrf-token" content="{{ csrf_token }}">
<div id="games-container">
    <h1>{% block heading %}Default Heading{% endblock %}</h1>
	<table id="games-table">
		<tr>
			<th>Player</th>
			<th>Team</th>
		</tr>
	</table>
	<div id="games-buttons">
		<button id="add-player">Join</button>
		<input type="text" id="player-name" placeholder="Invite a player">
		<button id="start-tournament">Start Tournament</button>
	</div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="module" src="{% static 'js/tournament.js' %}"></script>
{% endblock %}
