{% extends 'base.html' %}

{% block title %}
Tournament
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/tournament.css' %}">
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div id="games-container">
    <h1>{% block heading %}Default Heading{% endblock %}</h1>
	<table id="games-table">
		<tr>
			<th>Player</th>
			<th>Team</th>
		</tr>
	</table>
	<div id="games-buttons">
		<button id="add-player">Join</button>
		<button id="start-tournament">Start Tournament</button>
	</div>
	<div id="players-list-container">
        <h2>Players in the Tournament:</h2>
        <ul id="players-list">
            <!-- dynamic via js -->
        </ul>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="module" src="{% static 'js/tournament.js' %}"></script>
{% endblock %}
