{% extends 'base.html' %}

{% block title %}
Game
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/games.css' %}">
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div id="games-container">
    <div class="column">
        <h2>Space-Battle</h2>
        <!-- Lien pour Space-Battle -->
        <div id="btn-tournament-space">
            <a href="/games/spaceinvaders/" class="btn-tournament btn">Play Space Battle</a>
            <label>
                Mode Tournament: 
                <input type="checkbox">
            </label>
        </div>
    </div>
    <div class="column">
        <h2>Pong</h2>
        <div id="btn-tournament-pong">
            <a href="/games/pong/" class="btn-tournament btn">Play Pong</a>
            <label>
                Mode Tournament: 
                <input type="checkbox">
            </label>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/games.js' %}"></script>
{% endblock %}
