{% extends 'base.html' %}

{% block title %}
Game
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/games.css' %}">
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div id="games-container">
    <div class="column">
        <h2>Space-Battle</h2>
        <!-- Lien pour Space-Battle -->
        <div id="btn-tournament-space"></div>
    </div>
    <div class="column">
        <h2>Pong</h2>
        <div id="btn-tournament-pong"></div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
