{% extends 'base.html' %}

{% block title %}
Pong
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/pong.css' %}">
{% endblock %}

{% block content %}
{% include "navbar.html" %}
	<div id="pongPage" class="body-container">
		<!-- Borne d'arcade complète -->
		<div class="arcade-machine">
			<!-- Panneau supérieur avec titre -->
			<div class="arcade-header">
				<h1>Pong Arcade</h1>
			</div>
		
			<!-- Écran de jeu intégré dans la borne -->
			<div class="arcade-screen">
				<canvas id="pong" width="700" height="700"></canvas>
			</div>

			<!-- Console de commandes factice -->
			<div class="arcade-console">
				<div class="button red" id="red" type="button"></div>
				<div class="button blue" id="blue" type="button"></div>
				<div class="joystick"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/pong.js' %}"></script>
<script src="{% static 'js/pongMulti.js' %}"></script>
{% endblock %}
