#navbarBody {
    background-color: #8A2BE2;
    width: 100vw;
    border-radius: 0px 0px 10px 10px;
    max-height: 5vh;
    height: 5vh;
	font-family: "Kode Mono", monospace;
}

#navbarBody .bord {
    background-color: #8A2BE2;
    box-shadow: 0px 4px 3px #9846e4;
    width: 100vw;
    border-radius: 0px 0px 10px 10px;
    max-height: 5vh;
    height: 5vh;
}

#navbarBody .menu-games:hover{
    font-family: "Kode Mono", monospace;
    background-color: #29c7c4;
    color: #ffffff;
    box-shadow: 0px 0px 10px #29c7c4;
}


#navbarBody .menu-games{
    border: 0 #cd6aff;
	font-family: "Kode Mono", monospace;
    background-color: #17BEBB;
    box-shadow: 0px 0px 5px #120052;
    min-width: 15vh;
    margin-inline: 5%;
    position:relative;
    text-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #ff00ff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#navbarBody .games{
    border: 0 #cd6aff;
	font-family: "Kode Mono", monospace;
    background-color: #17BEBB;
    box-shadow: 0px 0px 5px #120052;
    min-width: 18vh;
    margin-inline: 7%;
    position: relative;
    text-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #ff00ff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


#navbarBody .games:hover{
    font-family: "Kode Mono", monospace;
    background-color: #29c7c4;
    color: #ffffff;
    box-shadow: 0px 0px 10px #29c7c4;
}

#navbarBody nav > ul{
    margin: 0vh;
}

#navbarBody nav > ul > li > a{
    display: flex;
    color:aliceblue;
}


#navbarBody nav > ul > li {
    float: left;
    position: relative;
}

#navbarBody .submenu{
    display: none;
    flex-direction: column;
    position: absolute;
    width: auto;
    border-radius: 10px;
}


#navbarBody nav a{
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    border-radius: 10px;
    text-decoration: none;
    color:rgb(255, 255, 255);
}

#navbarBody .menu-pong .submenupong{
    position: absolute;
    display: none;
    padding: 0;
}

#navbarBody .menu-pong:hover .submenupong{
    display: flex;
    left:-40%;
}


#navbarBody nav > li{
    list-style-type: none;
}

#navbarBody li{
    border-radius:5px;
    white-space: nowrap;
    list-style-type: none;
    border: 0 #cd6aff;
	font-family: "Kode Mono", monospace;
    background-color: #17BEBB;
    box-shadow: 0px 0px 5px #120052;
    text-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #ff00ff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#navbarBody li:hover{
    font-family: "Kode Mono", monospace;
    background-color: #29c7c4;
    color: #ffffff;
    box-shadow: 0px 0px 10px #29c7c4;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#navbarBody li:hover .submenu{
    display: flex;
    top: 100%;
    line-height: 5vh;
    padding-left: 3%;
}