body {
    background-color: #120052;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
}

#welcome {
    background-color: #120052;
    width: 100%;
    margin: 0;
}

.select:hover{
    font-family: "Kode Mono", monospace;
    background-color: #29c7c4;
    color: #ffffff;
    box-shadow: 0px 0px 10px #29c7c4;
}

.select{
    border: 0 #cd6aff;
	font-family: "Kode Mono", monospace;
    background-color: #17BEBB;
    box-shadow: 0px 0px 5px #cd6aff;
    margin-top: 5%;
    color: #ffffff;
}

#welcome .bord {
    background-color: #1a0033;
    padding: 10px;
    margin: 15px;
    display: inline-block;
	padding: 20px;
    border-radius: 30px;
}

#welcome .center {
    text-align: center;
	font-family: "Kode Mono", monospace;
    font-size: 2em;
	font-size: 1.5em;
	margin: 0;
	text-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #ff00ff;
	justify-content: space-around;
	padding: 10px;
}