<div id="chatbox">
    <div class="ChatButton" id="chat" type="button">chatbox</div>
    <div class="liveChat" id="box">
        <div class="bar" id="bar">Private with : 
            <div><a href id="selectFriend"></a></div>
            <div><button class="lock" id="lock">🔒</button></div>
            <div class="infoFriend" id="infoFriend"></div>
        </div>
        <div class="minWin" id="closeChat" type="button">-</div>

        <div class="friends" id="loadFriends">
            <input class="search" id="addFriends" type="text" placeholder=" Add a friend">
            <div class="allFriends" id="FriendList"></div>
        </div>
        <div class="chatMessages" id="chatMessages"></div>
        <div><input class="inputMessages" id="inputMessages" type="text" placeholder="Type your message here"></div>
    </div>
</div>

<!-- <button id="chatbox-btn">💬 Chat</button>
<div id="chatbox" style="display: none;">
    <div id="messages"></div>
    <input id="message-input" type="text" placeholder="Type your message...">
    <button id="send-btn">Send</button>
</div> -->
