<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ft_transcendence</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" href="/">
                    <i class="bi bi-house-door" href="/"></i> Home
                    </a>
                </li>
                <!-- Game -->
                <li class="nav-item">
                    <a class="nav-link" href="/games">
                        <i class="bi bi-controller" href="/games"></i> Games
                    </a>
                </li>
                <!-- Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="/profil">
                    <i class="bi bi-person" href="/profil"></i> Profile
                    </a>
                </li>
                <!-- Logout -->
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/profil/logout">
                    <i class="bi bi-box-arrow-right" href="/profil/logout"></i> Logout
                    </a>
                </li>
                {% if is_staff %}
                <!-- Admin -->
                <li class="nav-item">
                    <a class="nav-link text-primary" href="/admin">
                    <i class="bi bi-gear"></i> Admin
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>