<div id="navbarBody" class="navbar">
        <nav class="bord">
            <ul>
                <li class="menu-games"><a href="/">home</a>
                    <li class="menu-games"><a href="/friends">friends</a></li>
                    {% comment %} add js to load n friends in my fav {% endcomment %}
                    <li class="games"><a href="/games/">games</a>
                        <ul class="submenu">
                            <li><a href="/games/spaceinvaders/">Space-Invader</a></li>
                            <li class="menu-pong"><a href="/games/pong/">Pong</a>
                                <ul class="submenupong">
                                    <li><a href="/games/pong/solo/">vs IA</a></li>
                                    <li><a href="/games/pong/local/">vs local</a></li>
                                    <li><a href="/games/pong/online/">vs online</a></li>
                                </ul>
                            </li>
                        </ul>
                        <li class="menu-games"><a href="/login">login</a></li>
                        <li class="menu-games"><a href="/">settings</a>
                    </li>
            </ul>
        </nav>
</div>


        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">My App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/profil/">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/game/">Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="/profil/logout/">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->