body {
    background-color: #120052;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Kode Mono", monospace;
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#welcome {
    background-color: #120052;
    width: 100%;
    height: calc(100vh - 5vh); /* Adjust for navbar height */
    margin: 0;
    padding: 3rem 0;
    font-family: "Kode Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome .select {
    border: none;
    background: linear-gradient(45deg, #17BEBB, #29c7c4);
    box-shadow: 0px 0px 10px #29c7c4, 0px 0px 20px #17BEBB;
    color: #ffffff;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    font-family: "Press Start 2P", cursive; /* Arcade style font */
    text-shadow: 0px 0px 5px #ffffff;
}

#welcome .select:hover {
    background-color: #29c7c4;
    color: #ffffff;
    box-shadow: 0px 0px 15px #29c7c4, 0px 0px 25px #17BEBB;
    transform: scale(1.1);
}

#welcome .bord {
    background-color: #1a0033;
    padding: 30px;
    margin: 20px;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #cd6aff;
    text-align: center;
    font-size: 1.25rem;
}

#welcome .center {
    text-align: center;
    font-family: "Kode Mono", monospace;
    font-size: 2.5rem;
    margin: 2rem 0;
    text-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #ff00ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
