{% load static %}

<div id="navbarBody" class="navbar">
        <nav class="bord">
            <ul>
                <li class="menu-games"><a href="/">home</a>
                    <li class="menu-games"><a href="/friends">friends</a></li>
                    {% comment %} add js to load n friends in my fav {% endcomment %}
                    <li class="games"><a href="/games/">games</a>
                        <ul class="submenu">
                            <li><a href="/games/spaceinvaders/">Space-Invader</a></li>
                            <li class="menu-pong"><a href="/games/pong/">Pong</a>
                                <ul class="submenupong">
                                    <li><a href="/games/pong/solo/">vs IA</a></li>
                                    <li><a href="/games/pong/local/">vs local</a></li>
                                    <li><a href="/games/pong/online/">vs online</a></li>
                                </ul>
                            </li>
                        </ul>
                        <li class="menu-games"><a href="/accounts/login/">login</a></li>
                        <li class="menu-games"><a href="/">settings</a>
                    </li>
            </ul>
        </nav>
</div>
