{% extends 'base.html' %}

{% block title %}
Account
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/profil.css' %}">
{% endblock %}

{% block js %}
<script type="module" src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="row" style="margin:0;padding:0">
	<div class="col-md-8 offset-md-2">
		<h1 class="text-center">Account</h1>
		<div class="card mt-4">
			<div class="card-body" id="account">
			</div>
		</div>
		<div class="mt-4">
			<h4>Game Statistics:</h4>
			<ul class="list-group" id="stats">
			</ul>
		</div>
	</div>
</div>



{% endblock %}
