{% load static %}

<div id="navbarBody" class="navbar">
        <nav class="bord">
            {% comment %} <ul>
                <li class="nav-friend"<a href="/friends">>Friends</a>
                    <ul class="submenu">
                        {% comment %} add js to make all case to put all fav friend {% endcomment %}
                    {% comment %} </ul>
            </ul> {% endcomment %}
            <ul>
                <li class="menu-games"><a href="/games">games</a>
                    <ul class="submenu">
                        <li><a href="games/multi">Multiplayer</a></li>
                        <li><a href="games/solo">Solo</a></li>
                    </ul>

                </li>
            </ul>
        </nav>
</div>
