{% extends "index.html" %}
{% load static %}
<!DOCTYPE html>

  {% block content %}
    <div id="welcome" class="body-container">
        <div class="center">
            <div class="bord">
                <h1>Welcome to ft_transcendence!</h1>
                <p>By Ajasnin, Axdubois, Matde-ol</p>
                </div>
            </div>
            <div class="container">
                <a class="btn btn-primary" href="/login/">
                    test
                </a>
            </div>
            <div class="container">
                <a class="btn btn-primary" href="/pong/">
                    Pong
                </a>
            </div>
        </div>
    </div>
  {% endblock %}